<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WIXWriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <WIXWriter.Properties.Settings>
      <setting name="files" serializeAs="String">
        <value>BuildFile.proj,Thumbs.db,eStoreLogo2.ico,eStoreAdminWeb.Publish.xml,eStoreWeb.Publish.xml</value>
      </setting>
      <setting name="fileextensions" serializeAs="String">
        <value>cs,png,csproj,user,pdb</value>
      </setting>
      <setting name="directories" serializeAs="String">
        <value>aspnet_client,tmp,App_Data,App_GlobalResources,Web References,logs,lib,obj,Properties,CustomException,Mail,ThemeConfig</value>
      </setting>
    </WIXWriter.Properties.Settings>
  </applicationSettings>
</configuration>